body{
    background-color: #000;
    padding: 2% 8% 2% 8%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: #EEE8E8;
    height: 800px;
    width: 1400px;
}

/* -------------section 1-------------- */

.top-ish{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}

.img-container{
    width: 580px;
    height: 450px;
    border: 1px solid #9F3F50;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------- my fonts-------------- */
.emphasis{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.regular{
    font-size: 20px;
    color: #EEE8E8;
    font-weight: 400;
}

.regular-18{
    font-weight: 400px;
    font-size: 18px;
    color: #EEE8E8;
}

.less-emphasis{
    font-size: 12px;
    color: #f9bdc7;
    font-weight: 400;
}

.min{
    font-size: 10px;
    font-weight: 400;
}

hr{
    width: 436px;
    background-color: #f9bdc7;
    height: 0.1px;
}

/* -------------Section 2---------------- */

.img-and-songs{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 40px;
}

.song-list{
    height: 450px;
    margin-left: 80px;
    overflow-x: hidden;
    overflow-y: auto;
}

.play-controls{
    width: 160px;
    margin-right: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.playpause-track,
.prev-track,
.next-track {
  opacity: 0.8;
  transition: opacity .2s;
}
  
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}

.volume-and-action{
    display: flex;
    justify-content: space-between;
}

.action-icons{
    width: 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 240px;
}


.slider_container {
    width: 75%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #fff;
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #f9bdc7;
  cursor: pointer;
  border-radius: 50%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 0.8;
}
  
.seek_slider {
  width: 100%;
}
  
.volume_slider {
  width: 60%;
}
  
.current-time,
.total-duration {
  padding: 10px;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

  .container-2{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 750px;
  }

  .volume-control{
      display: flex;
      flex-direction: row;
      align-items: center;
      /* margin-left: 20%; */
  }


  .mini-container{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
  }

  .title-and-action{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
